* {
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
    color: white;
    min-width: 1000px;
    /* min-height: 800px; */
}

header {
    background-color: #700000;
    width: 100%;
    height: 199px;
    font-size: 50px;
    text-align: center;
    vertical-align: middle;
}
  header h1 {
      letter-spacing: -10px;
      line-height:170px;
  }
  header p {
      font-size: 29px;
      letter-spacing: -2px;
      line-height: 29px;
  }

.table {
	display: table;   /* Allow the centering to work */
    margin: 0 auto;
}
.position {
    padding: 10px;
    background-color: #700000;
    font-size: 20px;
    line-height: 30px;
}
  .position ul {
      text-align: center;
  }
    .position ul li {
        border: 10px #df462f;
        display: inline;
        list-style: none;
    }
      .position ul li a:hover, .player-list li a:hover {
          background-color: #df462f;
          padding: 10px;
      }

.main {
    display: grid;
    grid-template-columns: 1fr 3fr;
    padding: 10px;
    background-color: #700000;
}
.player-list {
    background-color: #a60004;
    border-radius: 1%;
    font-size: 20px;
    line-height: 30px;
    max-height: 700px;
    padding: 10px;
    width: 94%;
}
  .player-list ul li {
    list-style: none;
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
  }

.user-picked {
    background-color: #a60004;
    border-radius: 1%;
    font-size: 20px;
    line-height: 30px;
    max-height: 700px;
    padding: 10px;
    width: 98.5%;
}
  .user-picked ul li {
    list-style: none;
  }

footer {
    background-color: #700000;
    width: 100%;
    height: 29px;
    text-align: center;
    vertical-align: middle;
    line-height: 29px;
}