body {
    background-color: paleturquoise;
    background-position: center top;
}

header {
    height: 100px;
    width: 100%;
    border-radius: 10px;
    background-color: cornflowerblue;
}

.logo {
    float: left;
}

.navigation {
    float: right;
}



section {
    width: 80%;
    height: 800px;
    background-color: white;
    margin-left: 10%;
    border-radius: 10px; 
}


