body {
    background-image: url("../images/loona_background.jpeg");
    background-position: center top;
    font-family: sans-serif;
}

header {
    height: 100px;
    width: 100%;
    border-radius: 10px;
    background-color: white;
    opacity: 0.9;
}

header img {
    height: 100px;
    float: left;
}

nav {
    float: left;
    line-height: 100px;
    margin-left: 40px;
}

nav a {
    text-decoration: none;
    color: black;
}


.grid {
    display: grid;
    max-width: 90%;
    position: fixed;
    margin-top: 10px;
    grid-gap: 10px;
    grid-template: repeat(1, 1fr) / repeat(12, 1fr);
}

.member {
    background-color: beige;
    border: 2px white solid;
    border-radius: 100%;
    margin-top: 100px;
    margin-left: 6.7%;
    height: 100px;
    width: 100px;
}

article {
    padding-top: 250px;
}

footer {
    padding-top: 420px;
    float: right;
}

