* {
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
}
#index {
    background-color: #006699;
}
#index p {
    color: white;
}

@media screen and (min-width: 1280px) {
    #smiley {
        font-size: 110px;
    }

    #welcome {
        font-size: 30px;
        margin-left: 5px;
    }
    
    #welcome-note {
        font-size: large;
        margin-left: 5px;
    }
}
@media screen and (min-width: 720px) {
    #smiley {
        font-size: 110px;
    }
    
    #welcome {
        font-size: 30px;
        margin-left: 5px;
    }
    
    #welcome-note {
        font-size: large;
        margin-left: 5px;
    }
}

#main-content {
    text-align: left;
    margin-left: 40%;
    margin-right: 40%;
    margin-top: 16%;
    margin-bottom: 16%;
}

#smiley p a:after {
    content: ':(';
}
#smiley:hover p a span {
    display: none;
}
#smiley:hover p a:after {
    content: ':)enter';
}
#smiley a, #welcome-note a {
    text-decoration: none;
    color: white;
}