* {
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
}

/* index.html */
#index {
    background-color: #3C578F;
}
#index p {
    color: white;
}

@media screen and (min-width: 1024px) {
    #main-content {
        text-align: left;
        margin-left: 40%;
        margin-right: 40%;
        margin-top: 16%;
        margin-bottom: 16%;
    }

    #smiley {
        font-size: 110px;
    }

    #welcome {
        font-size: 28px;
        margin-left: 5px;
    }
    
    #welcome-note {
        font-size: large;
        margin-left: 5px;
    }
}
@media screen and (max-width: 480px) {
    #main-content {
        text-align: left;
        margin-left: 15%;
        margin-right: 15%;
        margin-top: 50%;
        margin-bottom: 50%;
    }

    #smiley {
        font-size: 30px;
    }

    #welcome {
        font-size: large;
        margin-left: 5px;
    }
    
    #welcome-note {
        font-size: 10px;
        margin-left: 5px;
    }

    #main-content {
        width: 300px;
    }
}

#smiley p a:after {
    content: ':(';
}
#smiley:hover p a span {
    display: none;
}
#smiley:hover p a:after {
    content: ':)enter';
}
#smiley a, #welcome-note a {
    text-decoration: none;
    color: white;
}

/* home.html */
@media screen and (min-width: 1024px) {
    #home-nav {
        display: inline-block;
        font-size: 20px;
        line-height: 90px;
    }
    #home-nav a {
        padding-left: 30px;
    }
    #home-first img {
        position: relative;
        top: 20px;
        height: 60px;
        width: 60px;
    }
    #home-top{
        height: 821px;
    }
    #home-second, #home-third, #home-fourth, #home-fifth {
        height: 919px;
    }
    #home-second-area {
        height: 300px;
        width: 600px;
    }
}
@media screen and (max-width: 480px) {
    #home-nav {
        font-size: 13px;
    }
    #home-nav a {
        padding-left: 5px;
        margin-left: 1.9%;
        margin-right: 1.9%;
    }
    #home-first img {
        display: block;
        position: relative;
        bottom: 5px;
        left: 37%;
        right: 37%;
        height: 80px;
        width: 80px;
    }
    #home-top {
        height: 401px;
    }
/*     #home-gif {
        width: 100%;
        height: auto;
    } */
}

header {
    background-color: #3C578F;
}
header a, #home-top p {
    text-decoration: none;
    color: white;
}
header img {
    border-radius: 100%;
}
#home-nav-idea:hover, #home-nav-dream:hover, #home-nav-fun:hover, #home-nav-full:hover, #home-nav-contact:hover {
    color: #6783BE;
}

.home-top {
    background-color: #6783BE;
}
.home-top p {
    text-align: center;
}

#home-gif{
    border-radius: 20px;
    border: 10px #3C578F solid;
    margin: 1% 28% 1% 28%;
}
.home-welcome {
    line-height: 5px;
}
#home-welcome {
    font-weight: 200;
    font-size: 75px;
    line-height: 80px;
}

.home-second, .home-third, .home-fourth, .home-fifth {
    margin: 1% 0 0 0;
}
.home-second {
    background-image: url("../images/workspace-4.png");
    background-position: center; 
}
#home-second, #home-third, #home-fourth, #home-fifth {
    color: black;
}
#home-second-area {
    padding: 60px 0 0 80px;
    font-size: 30px;
    font-weight: 500;
    text-align: center;
    line-height: 45px;
}
#home-second-area a, footer {
    text-decoration: none;
    color: black;
}

.home-third {
    background-color: #3C578F;
}

.home-fourth {
    background-image: url("../images/rainbowwhite.jpg");
}